html {
  font-size: 62.5%; // 1em == 10px hereafter
}

body {
  font-family: Carme, Helvetica, sans-serif;
  font-size: 1.6em;
  width: 800px;
  margin: 20px auto 20px auto;
}

h1 { font-size: 173%; }
h2 { font-size: 144%; }
h3 { font-size: 120%; }
h1,h2,h3,h4 {
  display: block;
  font-weight: bold;
}




