!!!
%html
  %head
    %title= @page_title || 'GUNYOKI'
    = stylesheet_link_tag 'application'
    %link{:rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Carme'}

  %body
    .content#content= yield
    = javascript_include_tag 'application'

